/* General Stats */

.general-stats {
  @include section;

  /* Heading */

  .general-stats__heading {
    text-align: left;
    border-bottom: solid 1px $gray2;
    margin: 10px 0 0 0;
    padding: 0 10px 10px 10px;
  }

  /* Calender */

  .general-stats__calender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px $gray2;

    .calender {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      margin-bottom: 50px;
      border: solid 1px $gray2;

      div:first-of-type {
        border-right: solid 1px $gray2;
      }
    }

    .calender_box {
      color: $paragraph-color;
      padding: 10px;

      i {
        color: $gray2;
      }
    }

    .calender__btn {
      background-color: $button;
      color: $white;
      border-radius: 4px;
      border: 0px;
      padding: 10px;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
        background-color: $light-gray1;
      }
    }
  }

  /* 4-numbers */

  .general-stats__4-numbers {
    margin: auto;
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .general-stats__colmn {
    flex-direction: column;
    padding: 0;
  }

  .general-stats__row {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid 1px $gray2;

    span {
      padding: 0;
    }
  }

  .general-stats__name {
    text-align: left;
    margin: 0;
  }

  .general-stats__No {
    text-align: right;
    color: $paragraph-color;
  }

  /* Chart */

  .general-stats__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    /*
    max-width: 50%;
    text-align: left;
    //text-align: center;
    margin: 0, auto, 30px;
    margin-bottom: 30px;
    */
    img {
      max-width: 100%;
    }

    /*
    img {
      align-items: center;
    }

    .general-stats__chart-img {
      max-width: 50%;
      text-align: left;
      margin: 0, auto, 30px;
    }
    */
  }
}

/* Media */

// small
@media (max-width: 767px) {
  .general-stats {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    ///z-index: 1;
  }

  .general-stats__heading {
    display: flex;
    justify-content: center;
  }

  .general-stats__4-numbers {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .general-stats__name {
    margin-right: 100px;
  }

  .general-stats__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
  }

  .general-stats__chart-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5px;
  }
}

// medium
@media (min-width: 768px) and (max-width: 991px) {
  .general-stats {
    margin-left: 270px;
  }

  .general-stats__heading {
    display: flex;
    justify-content: center;
  }

  .general-stats__4-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .general-stats__name {
    margin-right: 100px;
  }

  .general-stats__chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
  }

  .general-stats__chart-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
}

/*
// large
@media (min-width: 992px) and (max-width: 1440px) {

}
*/
