/* General Stats */

.general-stats {
  @include section;

  /* Heading */

  .general-stats__heading {
    text-align: left;
    border-bottom: solid 1px $gray2;
    margin: 10px 0;
    padding: 0 10px 10px 10px;
  }

  /* Calender */

  .general-stats__calender {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px $gray2;

    .calender {
      margin-top: 50px;
      margin-bottom: 50px;
      border: solid 1px $gray2;
      display: flex;

      div:first-of-type {
        border-right: solid 1px $gray2;
      }
    }

    .calender_box {
      color: $paragraph-color;
      padding: 10px;

      i {
        color: $gray2;
      }
    }

    .calender__btn {
      background-color: $button;
      color: $white;
      border-radius: 4px;
      border: 0px;
      padding: 10px;
      margin-left: 15px;

      &:hover {
        cursor: pointer;
        background-color: $light-gray1;
      }
    }
  }

  /* 4-numbers */

  .general-stats__4-numbers {
    margin: auto;
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .general-stats__colmn {
    flex-direction: column;
  }

  .general-stats__row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: solid 1px $gray2;
    margin-bottom: 35px;
  }

  .general-stats__name {
    text-align: left;
    margin-right: 175px;
  }

  .general-stats__No {
    text-align: right;
    color: $paragraph-color;
  }

  /* Chart */

  .general-stats__chart {
    margin-bottom: 30px;

    .general-stats__chart-img {
      text-align: left;
      margin-left: 320px;
    }
  }
}
