/* Navbar (top) */
.navbar {
  background-color: $white;
  color: $gray2;
  font-family: $heading-font;
  font-size: 20px;
  width: 100%;
  display: inline-block;
  text-align: right;
  border-bottom: solid 1px;
  z-index: -1;
}

.navbar__nav {
  @include ul;

  li:first-child {
    border-left: solid 1px $gray2;
  }

  li {
    display: inline-block;
    padding: 18px 10px;
    border-right: solid 1px;
    color: $gray2;

    &:hover {
      cursor: pointer;
    }
  }

  .navbar__form {
    select {
      border: 0px;
      color: $dark-gray3;
    }
  }

  .navbar__link {
    @include a;
  }
  .navbar__link-icon {
    i {
      margin-right: 5px;
      min-width: 30px;
    }

    .navbar__link-icon-name {
      color: $blue;
    }
  }
}

/* Media */

// small
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}

/*
.sidebar {
  width: 100%;
  //width: fit-content;
  height: fit-content;
  //height: min-content;
  //height: max-content;
  ///z-index: -1;

  .sidebarLi-navbarSM {
    width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    ul {
      width: 100%;

      li {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
*/

// medium
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    width: 50%;
  }
}

/*
// large
@media (min-width: 992px) and (max-width: 1440px) {
  .navbar {
    width: 100%;
  }
}
*/
