/* Navbar (top) */
.navbar {
  background-color: inherit;
  color: $gray2;
  font-family: $heading-font;
  font-size: 20px;
  width: 100%;
  position: fixed;
  display: inline-block;
  text-align: right;
  border-bottom: solid 1px;
  z-index: -1;
}

.navbar__nav {
  @include ul;

  li {
    display: inline-block;
    padding: 18px 10px;
    border-right: solid 1px;
    color: $gray2;

    &:hover {
      cursor: pointer;
    }
  }

  .navbar__form {
    select {
      border: 0px;
      color: $dark-gray3;
    }
  }

  .navbar__link {
    @include a;
  }

  .navbar__link-first-li {
    color: transparent;
  }

  .navbar__link-icon {
    i {
      margin-right: 5px;
      min-width: 30px;
    }
  }
}
