/* Sidebar */
.sidebar {
  background-color: $paragraph-color;
  color: $dark-gray3;
  padding: 18px;
  font-family: $heading-font;
  font-size: 20px;
  height: 100%;
  position: fixed;
}

.sidebar__logo {
  color: $white;
  font-size: $logo-size;
  font-family: $logo-font;
  margin-right: 30px;
}

.sidebar__toggler {
  border: 0;
  background-color: inherit;
  margin-bottom: 20px;

  :hover {
    cursor: pointer;
  }

  .sidebar__toggler-icon {
    background-color: inherit;
    color: $light-gray1;
    font-size: $icon-size;
  }
}

.sidebar__nav {
  @include ul;

  li {
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  .sidebar__link {
    @include a;
    display: inline-block;
    color: inherit;

    :hover {
      background-color: $dark-black4;
      color: $white;
    }

    .sidebar__link-icon {
      i {
        margin-right: 15px;
      }
    }

    .pop-out-messege-title {
      font-size: 17px;
    }
  }
}
