/* Colors */
$paragraph-color: #000000; /* sidebar bg */
$brand-main-color: #ff0000;
$white: #ffffff;
/* palette: https://flatuicolors.com/palette/ca */
$dark-black4: #222f3e;   /* sidebar hover */
$dark-gray3: #576574;    /* sidebar font notActive */
$gray2: #8395a7;
$light-gray1: #c8d6e5;
$button: #ff9f43;
$blue: #2e86de;
$green: #1dd1a1;

/* Font sizes */
$paragraph-font-size: 16px;
$logo-size: 35px;
$icon-size: 30px;

/* Fonts */
$heading-font: 'Lato', sans-serif;
$paragraph-font: 'Questrial', sans-serif;
$logo-font: 'Dancing Script', cursive;

/* Globals */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: $paragraph-font-size;
  background-color: $light-gray1;
}

@mixin section {
  border: solid 1px $gray2;
  margin-left: 250px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: $dark-gray3;
  background-color: $white;
}

/* General Stats */

.general-stats {
  @include section;

  .general-stats__heading {
    text-align: left;
    border-bottom: solid 1px $gray2;
    margin: 10px 0;
    padding: 0 10px 10px 10px;
  }
}

/* Links */

.links {
  @include section;

  .links__heading {
    text-align: left;
    border-bottom: solid 1px $gray2;
    margin: 10px 0;
    padding: 0 10px 10px 10px;
  }
}
